/* Global style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    color: #5A5A5D;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: black;
}

h2,
p,
ul {
    margin-bottom: 30px;
}

button,
#input-submit {
    background-color: #FF5400;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.section-margin-bottom {
    margin-bottom: 80px;
}

/* header section */

/* navbar */

header,
.content,
article {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    width: 48px;
}

.logo-name h1 {
    color: #131318;
    font-weight: 900;
    font-size: 36px;
}

.logo-name span {
    color: #FF5400;
}

.regular-menu {
    margin-bottom: 0;
}

.menu-item li a {
    text-decoration: none;
}

.regular-menu li {
    display: inline-block;
    padding: 10px;
}

.regular-menu li:last-child {
    padding-right: 0px;
}

.regular-menu li:hover a {
    color: #FF5400;
}

/* hamburger menu */

.hamburger {
    display: none;
    cursor: pointer;
    text-align: right;
    font-size: 30px;
}

.hamburger-menu {
    position: absolute;
    left: 5%;
    right: 5%;
}

.hamburger-menu li {
    display: none;
    background: #333;
    text-align: right;
    padding: 20px;
}

.hamburger-menu li:hover a {
    color: #FF5400;
}

.hamburger-menu a {
    color: white;
    display: block;
}

#menu-toggle {
    display: none;
}

/* Hero section */

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/hero\ banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.hero-content {
    padding: 10% 20%;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 30px;
}

.hero-content p {
    color: rgba(255, 255, 255, 0.7);
}

.form-field {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.form-button,
.form-field input,
.form-field select {
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    color: gray;
    outline: none;
    border: none;
    font-size: 14px;
}

.form-button {
    background-color: #FF5400;
    cursor: pointer;
}

.form-button p {
    display: inline;
}

.form-button p,
.form-button i {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
}

/* popular tour */

.popular-tour-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    gap: 80px;
}

.popular-tour-content ul {
    margin-left: 15px;
}

.popular-tour-content li {
    margin: 10px 0;
}

.popular-tour-content li,
.popular-tour-content p {
    line-height: 24px;
}

.popular-tour-image {
    text-align: right;
}

.popular-tour-image img {
    width: 80%;
}

/* choose your destination */

.choose-destination-text {
    text-align: center;
    padding: 0 20%;
}

.destination {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}

.destination img {
    width: 100%;
    height: 100%;
}

.destination-row-1 {
    grid-template-columns: 1fr 1fr;
}

.destination-row-2 {
    grid-template-columns: 1fr 1fr 1fr;
}

.destination-row-3 {
    grid-template-columns: 1fr 1fr;
}

.destination-image {
    position: relative;
    text-align: center;
}

.destination-name {
    position: absolute;
    width: 100%;
    top: 50%;
    color: white;
    font-size: 28px;
    font-weight: 800;

}

/* why choose us */

.why-choose-us-header {
    text-align: center;
    padding: 0 20%;
}

.card-image,
.card-heading {
    padding-bottom: 20px;
}

.why-choose-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.why-choose-us-card {
    border-radius: 15px;
    padding: 50px;
    flex: 0 0 calc(50% - 20px);
}

.why-choose-us-card-1 {
    background-color: #FFFBF7;
}

.why-choose-us-card-2 {
    background-color: #F4FDFF;
}

.why-choose-us-card-3 {
    background-color: #FEF6F6;
}

/* Packages section */

ol{
    padding: 0 20px;
}

/* newsletter section */

.newsletter-section-content {
    display: flex;
    gap: 50px;
    height: 400px;
}

.newsletter-form-section,
.newsletter-image-section {
    flex: 0 0 calc(50% - 20px);
}

.newsletter-form-section {
    border: 1px solid #FF5400;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.newsletter-form-section input {
    border: none;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.newsletter-form-section input[type=text] {
    background-color: #F3F3F3;
}

.newsletter-image-section {
    background-image: url('Images/newsletter.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

.newsletter-image img {
    width: 100%;
}

.newsletter-ribbon {
    position: absolute;
    background-color: #FF5400;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    bottom: 100px;
    right: -10px;
    transform: rotate(-45deg);
}

#input-submit {
    background-color: #FF5400;
    color: white;
}

.newsletter-ribbon p,
.newsletter-ribbon h2 {
    color: white;
    padding: 0;
    margin: 0;
}

/* footer section */

footer {
    background-color: #f3f3f3;
}

.footer-content {
    text-align: center;
    padding: 5% 20%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.footer-logo h2 {
    margin: 0;
}

.footer-logo span{
    color: #FF5400;
}

.footer-socials .fa-brands{
    padding: 20px;
    color: black;
}

.footer-content hr{
    margin: 50px 0;
}

hr{
    border-top: 1px solid rgba(19,19,24,0.1);
}


/* ========================================================= */

/* Responsive section */

/* Max screen size: 1200px */

@media only screen and (max-width: 1200px) {

    /* hero */

    h2 {
        font-size: 24px;
    }

    .form-field input,
    .form-field select,
    .form-button {
        width: 150px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    /* Popular tour */

    .popular-tour-image img {
        width: 80%;
    }

    /* newsletter */
    .newsletter-ribbon {
        padding: 20px;
        text-align: center;
        bottom: 65px;
        right: 0px;
        transform: rotate(-45deg);
    }

}

/* Max screen size: 992px */

@media screen and (max-width: 992px) {
    .popular-tour-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .popular-tour-image {
        text-align: center;
    }

    .newsletter-section-content {
        flex-direction: column;
        height: 992px;

    }

    .newsletter-ribbon {
        padding: 20px;
        text-align: center;
        bottom: 65px;
        right: 0px;
        transform: rotate(-45deg);
    }

    /* footer */
    .footer-content hr{
        margin: 30px 0;
    }

}

/* Max screen size: 768px */

@media only screen and (max-width: 768px) {

    /* Global for mobile screen */

    p,
    a,
    li {
        font-size: 14px;
    }

    /* menu */

    .logo img {
        width: 32px;
    }

    .logo-name h1 {
        font-size: 24px;
    }

    .regular-menu li {
        display: none;
    }

    .hamburger {
        display: block;
    }

    #menu-toggle:checked~.hamburger-menu li {
        display: block;
    }

    /* hero content */

    .hero-content h1 {
        font-size: 30px;
    }

    .form-field input,
    .form-field select,
    .form-button {
        width: 200px;
    }

    /* popular content */

    .popular-tour-image img {
        width: 100%;
    }

    /* destination */

    .destination {
        grid-template-columns: 1fr;
    }

    /* why choose us */

    .why-choose-us-cards {
        display: grid;
        grid-template-columns: 1fr;
    }
}